a {
    background: none;
    color: white;
    text-decoration: none;
}

a:focus {
    color: white;
}

.dropdown-item a {
    color: black;
}


.dropdown-item:active {
    background: black;
    color: white;
}

.dropdown-item a:active {
    background: black;
    color: white;
}

.dropdown-item a:focus {
    background: black;
    color: white;
}

a:active {
    color: white;
}

.notif-icon {
    color: white;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}