.logo-login {
    width: 100px;
    box-shadow: 5px 0px 5px black;
}

.logo-login-container {
    background-color: transparent;
    width: max-content;
    height: max-content;
    position: relative;
    animation: rot 1.5s infinite;

    &:hover {
        animation: none;
    }
}

.blob-wallpaper {
    position: absolute;
}

.blob-wallpaper:nth-child(2) {
    width: 50%;
    top: -400px;
}

.blob-wallpaper:nth-child(3) {
    width: 40%;
    top: 5%;
    right: .5%;
}

@keyframes rot {
    from {
        transform: rotatey(360deg);
    }
}


.link-home {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    width: 250px;
    justify-content: center;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
}

.link-home:hover {
    transform: scale(1.05);
}

.link-home:active {
    color: black;
}